<!doctype html>
{% load static %}
<html lang="en" data-theme="business">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="google-site-verification" content="4Q3YiXMUj6TdUiPcWPiSxAGHhjj6qg-7nS9TpWgEdvE" />
        <meta name="description" content="Na brz i jednostavan nacin izracunajte vodenicarske mere"/>
        <meta property="og:url" content="https://drame-i-kamenovi.vercel.app/"/>
        <meta property="og:description" content="Na brz i jednostavan nacin izracunajte vodenicarske mere"/>
        <meta property="og:image" content="{% static 'images/mlin2.svg' %}"/>
    
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.19/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script defer src="{% static 'js/main.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        {% block css %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{% static 'images/mlin2.svg' %}">
        <title>Drame i Kamenovi</title>
    </head>
    <body class="h-dvh flex justify-between flex-col">
        <div class="container h-dvh mx-auto ">
            {% block content %}
                
            {% endblock %}
        </div>
        
        {% include 'footer.html' %}

        <script
          src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
          type="module"
        ></script>

    </body>
</html>
