

<div class="upitnik flex justify-end">
    <button class="btn btn-ghost" onclick="my_modal_5.showModal()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-7 h-7">
          <path strokeLinecap="round" strokeLinejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
        </svg>
    </button>

    <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
      <div class="modal-box">
        <h3 class="text-lg font-bold">Objašnjenje</h3>
          
        <p class="py-4">
            Vodenica ima 7 kamenova svaki kamen ima 4 litra, što je ukupno 28 litara. Tih 28 litara predstavlja 100 odsto vlasništva vodenice. Svaki od vlasnika vodenice ima vlasnički udio koji se izražava u litrima. U odnosu na vlasnicki udio svaki od vlasnika uzima odgovarajuću količinu brašna u jednom periodu, tj. mesecu.

            Mesec je u stvari period koji traje 28 dana tokom kog svaki od vlasnika uzme količinu brašna koja mu pripada prema vlasničkom udijelu u vodenici.
            
            1 litar = 100 drama = 7 dana = 168 sati tokom kojih vlasnik tog litra uzima procenat brašna od onoga ko koristi vodenicu tokom jednog meseca.
            
            1 dram = 1.68 sati mlevenja brašna za koje vlasnik tog drama uzima procenat tokom jednog meseca.
            
            Da se samlje jedna litra žitarice potrebno je 7 dana, tako da ako na primer jedan vlasnik ima 50 drama u litri, on može za 3.5 dana očekivati da će njegovo brašno biti spremno.
        </p>
          <p>Opširnije <a href="https://www.youtube.com/watch?v=Mlr7iqVVnBk" class="link link-primary">objašnjenje</a></p>
          
        <div class="modal-action">
          <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="btn">Zatvori</button>
          </form>
        </div>
      </div>
    </dialog>
</div>
